.arkynFullCalendarHeader {
	display: flex;
	align-items: center;
	gap: 16px;
}

.arkynFullCalendarHeader > p {
	font-size: 14px;
	font-weight: 500;
	color: var(--text-body, #52525b);
}

.arkynFullCalendarHeader .arkynFullCalendarButton {
	display: flex;
	align-items: center;
	gap: 4px;

	border: unset;
	background-color: unset;
	color: var(--text-muted, #a1a1aa);
	cursor: pointer;
}

.arkynFullCalendarHeader .arkynFullCalendarButton:hover svg {
	color: rgb(var(--spotlight-primary, 17, 109, 220));
}

.arkynFullCalendarHeader > div {
	display: flex;
	align-items: center;
	gap: 12px;
}

.arkynFullCalendarHeader .arkynFullCalendarHeaderActions {
	display: flex;
	align-items: center;
	gap: 50px;

	border-radius: 8px;
	width: max-content;
	overflow: hidden;

	background-color: var(--background-underground, #fafafa);
	padding: 4px;
}

.arkynFullCalendarHeader .arkynFullCalendarHeaderActions p {
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-heading, #09090b);
}
