.arkynDayCalendarRow {
	display: flex;
	position: relative;
	align-items: stretch;
}

.arkynDayCalendarRow:first-child {
	border-top-right-radius: 14px;
}

.arkynDayCalendarRow:last-child {
	border-bottom-right-radius: 14px;
}

.arkynDayCalendarRow.blocked {
	background-color: rgb(var(--spotlight-danger-foreground, 254, 236, 239));
}

.arkynDayCalendarRow.blocked:before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 4px;
	background-color: rgb(var(--spotlight-danger, 244, 63, 94));
}

.arkynDayCalendarRow:first-child:before {
	border-top-left-radius: 14px;
}

.arkynDayCalendarRow.blocked:hover {
	cursor: not-allowed;
}

.arkynDayCalendarRow:not(:first-child) {
	border-top: 1px solid var(--border, #e2e8f0);
}

.arkynDayCalendarRow > p {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
	color: var(--text-body, #52525b);
	padding: 24px 20px;

	display: flex;
	align-items: center;
}

.arkynDayCalendarRow .arkynDayCalendarRowContent {
	position: relative;
	flex: 1;
	min-height: 100%;
	margin: 3px;
}
