.arkynRichTextInsertImage {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 36px;
	width: 36px;

	background-color: var(--background-underground, #fafafa);
	border: none;
	border-radius: 4px;
}

.arkynRichTextInsertImage svg {
	height: 20px;
	width: 20px;

	color: var(--text-heading, #09090b);
}

.arkynRichTextInsertImage:hover {
	cursor: pointer;
	filter: brightness(0.98);
}

.arkynRichTextInsertImageModalContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;

	width: 500px;
}

.arkynRichTextInsertImageModalPreviewImage {
	width: 100%;
	border-radius: 8px;
}

.arkynRichTextInsertImageModalContent .arkynImageUpload {
	min-height: 174px;
}

html.dark .arkynRichTextInsertImage:hover {
	cursor: pointer;
	filter: brightness(0.9);
}
