/* BASE */
.arkynIconButton {
	background: transparent;
	border: 1px solid transparent;
	outline: 1px solid transparent;
	position: relative;
}

.arkynIconButton:hover {
	cursor: pointer;
	filter: brightness(0.9);
	transition: 0.15s all ease-out;
}

html.dark .arkynIconButton:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.arkynIconButton:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.arkynIconButtonContent {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* VARIANTS */
.arkynIconButton.solid {
	color: var(--white);
}
.arkynIconButton.solid.primary {
	background-color: rgb(var(--spotlight-primary));
}
.arkynIconButton.solid.danger {
	background-color: rgb(var(--spotlight-danger));
}
.arkynIconButton.solid.success {
	background-color: rgb(var(--spotlight-success));
}
.arkynIconButton.solid.warning {
	background-color: rgb(var(--spotlight-warning));
}
.arkynIconButton.solid.info {
	background-color: rgb(var(--spotlight-info));
}

.arkynIconButton.outline {
	background-color: var(--background-foreground);
	border-color: var(--border);
}
.arkynIconButton.outline.primary {
	color: rgb(var(--spotlight-primary));
}
.arkynIconButton.outline.danger {
	color: rgba(var(--spotlight-danger));
}
.arkynIconButton.outline.success {
	color: rgba(var(--spotlight-success));
}
.arkynIconButton.outline.warning {
	color: rgba(var(--spotlight-warning));
}
.arkynIconButton.outline.info {
	color: rgba(var(--spotlight-info));
}

.arkynIconButton.ghost:hover {
	filter: brightness(0.8);
}
.arkynIconButton.ghost.primary {
	color: rgb(var(--spotlight-primary));
	background-color: rgb(var(--spotlight-primary-foreground));
}
.arkynIconButton.ghost.danger {
	color: rgb(var(--spotlight-danger));
	background-color: rgb(var(--spotlight-danger-foreground));
}
.arkynIconButton.ghost.success {
	color: rgb(var(--spotlight-success));
	background-color: rgb(var(--spotlight-success-foreground));
}
.arkynIconButton.ghost.warning {
	color: rgb(var(--spotlight-warning));
	background-color: rgb(var(--spotlight-warning-foreground));
}
.arkynIconButton.ghost.info {
	color: rgb(var(--spotlight-info));
	background-color: rgb(var(--spotlight-info-foreground));
}

.arkynIconButton.invisible.primary {
	color: rgb(var(--spotlight-primary));
}
.arkynIconButton.invisible.danger {
	color: rgb(var(--spotlight-danger));
}
.arkynIconButton.invisible.success {
	color: rgb(var(--spotlight-success));
}
.arkynIconButton.invisible.warning {
	color: rgb(var(--spotlight-warning));
}
.arkynIconButton.invisible.info {
	color: rgb(var(--spotlight-info));
}

/* SIZE */
.arkynIconButton.lg {
	border-radius: 6px;
	height: 44px;
	width: 44px;
}

.arkynIconButton.md {
	border-radius: 6px;
	height: 40px;
	width: 40px;
}

.arkynIconButton.sm {
	border-radius: 6px;
	height: 32px;
	width: 32px;
}

.arkynIconButton.xs {
	border-radius: 4px;
	height: 24px;
	width: 24px;
}

/* SPIN */
.arkynIconButtonSpinner {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}
.arkynIconButtonSpinner > svg {
	animation: spin 2s linear infinite;
}

.arkynIconButton.loadingTrue .arkynIconButtonSpinner {
	opacity: 1;
}
.arkynIconButton.loadingTrue .arkynIconButtonContent {
	opacity: 0;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
