/* BASE CSS */
.arkynMultiSelectContainer {
	position: relative;
	display: flex;
	align-items: center;

	width: min-content;

	padding: 0 16px;
	gap: 8px;
	border-radius: 8px;

	border: 1px solid transparent;
	outline: 1px solid transparent;
}
.arkynMultiSelectContainer:hover {
	cursor: pointer;
}
.arkynMultiSelectContainer.opacity {
	opacity: 0.5;
}

/* PREFIX */
.arkynMultiSelectContainer .prefix {
	color: var(--text-body);
	background: var(--border);
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
}
.arkynMultiSelectContainer .prefix {
	left: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid var(--border);
}

/* LEFT ICON */
.arkynMultiSelectContainer > svg {
	color: var(--text-muted);
}
.arkynMultiSelectContainer.errored > svg {
	color: rgb(var(--spotlight-danger));
}
.arkynMultiSelectContainer:not(.opacity).focused > svg {
	color: rgb(var(--spotlight-primary));
}

/* VARIANTS */
.arkynMultiSelectContainer.solid {
	border-color: var(--border);
	background-color: var(--input-background);
}
.arkynMultiSelectContainer.solid.errored {
	border-color: rgb(var(--spotlight-danger));
	outline-color: rgb(var(--spotlight-danger));
}
.arkynMultiSelectContainer:not(.opacity).solid.focused {
	border-color: rgb(var(--spotlight-primary));
	outline-color: rgb(var(--spotlight-primary));
}
.arkynMultiSelectContainer.outline {
	border-color: var(--border);
	background-color: var(--background-foreground);
}
.arkynMultiSelectContainer.outline.errored {
	border-color: rgb(var(--spotlight-danger));
	outline-color: rgb(var(--spotlight-danger));
}
.arkynMultiSelectContainer:not(.opacity).outline.focused {
	border-color: rgb(var(--spotlight-primary));
	outline-color: rgb(var(--spotlight-primary));
}
.arkynMultiSelectContainer.underline {
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-color: var(--border);
}
.arkynMultiSelectContainer.underline .prefix {
	display: none;
}
.arkynMultiSelectContainer.underline::before {
	content: " ";
	position: absolute;
	height: 1px;
	left: 0;
	right: 0;
	bottom: -2px;
	background: transparent;
}
.arkynMultiSelectContainer.underline.errored {
	border-color: rgb(var(--spotlight-danger));
}
.arkynMultiSelectContainer.underline.errored::before {
	background: rgb(var(--spotlight-danger));
}
.arkynMultiSelectContainer:not(.opacity).underline.focused {
	border-color: rgb(var(--spotlight-primary));
}
.arkynMultiSelectContainer:not(.opacity).underline.focused::before {
	background: rgb(var(--spotlight-primary));
}

/* SIZE */
.arkynMultiSelectContainer.md {
	min-height: 40px;
}
.arkynMultiSelectContainer.md.hasPrefix {
	padding-left: 60px;
}
.arkynMultiSelectContainer.md .prefix {
	height: 40px;
	width: 44px;
	font-size: 14px;
}
.arkynMultiSelectContainer.lg {
	min-height: 44px;
}
.arkynMultiSelectContainer.lg .prefix {
	height: 44px;
	width: 48px;
	font-size: 16px;
}
.arkynMultiSelectContainer.lg.hasPrefix {
	padding-left: 64px;
}
