.arkynPaginationSpread {
  background-color: transparent;
  color: var(--text-muted);
  border: none;

  max-height: 28px;
  max-width: 28px;

  min-height: 28px;
  min-width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arkynPaginationSpread > svg {
  color: var(--text-muted);
  height: 16px;
  width: 16px;
}
