* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
textarea,
button {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 32px;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.row:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border);
}
