.arkynDrawerHeader {
	display: flex;
	align-items: center;

	height: 56px;
	padding: 16px;

	font-size: 16px;
	font-weight: 600;
	line-height: 20px;

	color: var(--text-heading, #09090b);

	border-bottom: 1px solid var(--border, #e2e8f0);
}

.arkynDrawerHeaderCloseButton {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: auto;

	padding: 2px;
	border-radius: 4px;

	border: none;
	background: none;

	color: var(--text-body, #52525b);
	background-color: var(--background-foreground, #ffffff);
}

.arkynDrawerHeaderCloseButton:hover {
	cursor: pointer;
	transition: all 0.15s ease-out;
	filter: brightness(0.9);
}
