.arkynAlertContainer {
	display: flex;
	align-items: start;
	gap: 16px;
	padding: 16px;

	border: 1px solid transparent;
	border-radius: 6px;
}

.arkynAlertContainer.nonExistsAlertTitle {
	align-items: center;
}

.arkynAlertContainer.danger {
	background: rgb(var(--spotlight-danger-foreground));
	border-color: rgb(var(--spotlight-danger));
}

.arkynAlertContainer.success {
	background: rgb(var(--spotlight-success-foreground));
	border-color: rgb(var(--spotlight-success));
}

.arkynAlertContainer.info {
	background: rgb(var(--spotlight-info-foreground));
	border-color: rgb(var(--spotlight-info));
}

.arkynAlertContainer.warning {
	background: rgb(var(--spotlight-warning-foreground));
	border-color: rgb(var(--spotlight-warning));
}
