.arkynMonthlyCalendarTableContainer {
	background-color: var(--background-foreground, #ffffff);
	overflow: hidden;
	border-radius: 8px;
	border: 1px solid var(--border, #e2e8f0);
}

.arkynMonthlyCalendarTableContainer table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}
