.arkynSelectOption {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-weight: 400;
	line-height: 21.79px;

	color: var(--text-body);
	background-color: inherit;
	user-select: none;
}
.arkynSelectOption.md {
	font-size: 14px;
	padding: 8px 16px;
}
.arkynSelectOption.lg {
	font-size: 16px;
	padding: 8px 16px;
}
.arkynSelectOption svg {
	display: none;
	height: 20px;
	width: 20px;
	color: rgb(var(--spotlight-primary));
}
.arkynSelectOption:hover {
	cursor: pointer;
	filter: brightness(0.98);
}
.arkynSelectOption.active {
	font-weight: 600;
	color: var(--text-heading);
	filter: brightness(0.95);
}
.arkynSelectOption.active svg {
	display: unset;
}

html.dark .arkynSelectOption:hover {
	filter: brightness(1.2);
}

html.dark .arkynSelectOption.active {
	filter: brightness(1.2);
}
