.arkynRichText {
	display: flex;
	flex-direction: column;

	background-color: var(--input-background, #fafafa);
	border: 1px solid var(--border, #e2e8f0);
	border-radius: 8px;
	outline: 1px solid transparent;
}

.arkynRichText.errorTrue {
	outline-color: rgb(var(--spotlight-danger, 244, 63, 94));
	border-color: rgb(var(--spotlight-danger, 244, 63, 94));
}

.arkynRichText.focusTrue {
	outline-color: rgb(var(--spotlight-primary, 17, 109, 220));
	border-color: rgb(var(--spotlight-primary, 17, 109, 220));
}

.arkynRichText .editorContainer {
	padding: 16px;
	outline: none;
	min-height: 300px;
}

.arkynRichText .restatesCharacters {
	display: block;
	margin-left: auto;
	padding: 8px;

	font-size: 16px;
	font-weight: 600;
	color: rgb(var(--spotlight-danger, 244, 63, 94));
}
