/* BASE */
.arkynBadge {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	width: min-content;
	white-space: nowrap;
	border: 1px solid transparent;
}

/* SIZE */
.arkynBadge.lg {
	border-radius: 12px;
	padding: 0px 16px;
	height: 24px;
}

.arkynBadge.lg p {
	font-weight: 400;
	line-height: 12px;
	font-size: 12px;
}

.arkynBadge.md {
	border-radius: 10px;
	padding: 0px 12px;
	height: 20px;
}

.arkynBadge.md p {
	font-weight: 400;
	line-height: 10px;
	font-size: 10px;
}

/* VARIANTS */
.arkynBadge.solid {
	color: #fff;
}
.arkynBadge.solid.primary {
	background-color: rgb(var(--spotlight-primary, 17, 109, 220));
}
.arkynBadge.solid.secondary {
	background-color: rgb(var(--spotlight-secondary, 100, 116, 139));
}
.arkynBadge.solid.danger {
	background-color: rgb(var(--spotlight-danger, 244, 63, 94));
}
.arkynBadge.solid.success {
	background-color: rgb(var(--spotlight-success, 16, 185, 129));
}
.arkynBadge.solid.warning {
	background-color: rgb(var(--spotlight-warning, 249, 115, 22));
}
.arkynBadge.solid.info {
	background-color: rgb(var(--spotlight-info, 14, 165, 233));
}

.arkynBadge.outline.primary {
	border-color: rgb(var(--spotlight-primary, 17, 109, 220));
}
.arkynBadge.outline.primary p,
.arkynBadge.outline.primary svg {
	color: rgb(var(--spotlight-primary, 17, 109, 220));
}
.arkynBadge.outline.secondary {
	border-color: rgb(var(--spotlight-secondary, 100, 116, 139));
}
.arkynBadge.outline.secondary p,
.arkynBadge.outline.secondary svg {
	color: rgb(var(--spotlight-secondary, 100, 116, 139));
}
.arkynBadge.outline.danger {
	border-color: rgb(var(--spotlight-danger, 244, 63, 94));
}
.arkynBadge.outline.danger p,
.arkynBadge.outline.danger svg {
	color: rgb(var(--spotlight-danger, 244, 63, 94));
}
.arkynBadge.outline.success {
	border-color: rgb(var(--spotlight-success, 16, 185, 129));
}
.arkynBadge.outline.success p,
.arkynBadge.outline.success svg {
	color: rgb(var(--spotlight-success, 16, 185, 129));
}
.arkynBadge.outline.warning {
	border-color: rgb(var(--spotlight-warning, 249, 115, 22));
}
.arkynBadge.outline.warning p,
.arkynBadge.outline.warning svg {
	color: rgb(var(--spotlight-warning, 249, 115, 22));
}
.arkynBadge.outline.info {
	border-color: rgb(var(--spotlight-info, 14, 165, 233));
}
.arkynBadge.outline.info p,
.arkynBadge.outline.info svg {
	color: rgb(var(--spotlight-info, 14, 165, 233));
}

.arkynBadge.ghost.primary {
	background-color: rgb(var(--spotlight-primary-foreground, 231, 240, 252));
}
.arkynBadge.ghost.primary p,
.arkynBadge.ghost.primary svg {
	color: rgb(var(--spotlight-primary, 17, 109, 220));
}
.arkynBadge.ghost.secondary {
	background-color: rgb(var(--spotlight-secondary-foreground, 250, 250, 250));
}
.arkynBadge.ghost.secondary p,
.arkynBadge.ghost.secondary svg {
	color: rgb(var(--spotlight-secondary, 100, 116, 139));
}
.arkynBadge.ghost.danger {
	background-color: rgb(var(--spotlight-danger-foreground, 254, 236, 239));
}
.arkynBadge.ghost.danger p,
.arkynBadge.ghost.danger svg {
	color: rgb(var(--spotlight-danger, 244, 63, 94));
}
.arkynBadge.ghost.success {
	background-color: rgb(var(--spotlight-success-foreground, 231, 248, 242));
}
.arkynBadge.ghost.success p,
.arkynBadge.ghost.success svg {
	color: rgb(var(--spotlight-success, 16, 185, 129));
}
.arkynBadge.ghost.warning {
	background-color: rgb(var(--spotlight-warning-foreground, 254, 241, 232));
}
.arkynBadge.ghost.warning p,
.arkynBadge.ghost.warning svg {
	color: rgb(var(--spotlight-warning, 249, 115, 22));
}
.arkynBadge.ghost.info {
	background-color: rgb(var(--spotlight-info-foreground, 231, 246, 253));
}
.arkynBadge.ghost.info p,
.arkynBadge.ghost.info svg {
	color: rgb(var(--spotlight-info, 14, 165, 233));
}
