.arkynWeekCalendarTableBody td > p {
	font-size: 14px;
	padding: 16px;
	text-align: center;
}

.arkynWeekCalendarTableBody tr {
	border-top: 1px solid var(--border);
}

.arkynWeekCalendarTableBody tr td:not(:first-child) {
	border-left: 1px solid var(--border);
}

.arkynWeekCalendarTableBody .hourTd > p {
	margin: auto;

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;

	color: var(--text-body);
}
