.arkynTableHeader th {
	text-align: left;
	background-color: var(--card-foreground-secondary);
	padding-left: 16px;
	height: 44px;

	color: var(--text-heading);
	font-weight: 600;
	font-size: 14px;

	white-space: nowrap;
}

.arkynTableHeader th:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.arkynTableHeader th:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

	padding-right: 16px;
}

.arkynTableHeader .spacingRow {
	height: 12px;
}
