.arkynAlertIcon {
	min-width: 28px;
	min-height: 28px;

	max-width: 28px;
	max-height: 28px;
}

.arkynAlertIcon.danger {
	color: rgb(var(--spotlight-danger, 244, 63, 94));
}

.arkynAlertIcon.success {
	color: rgb(var(--spotlight-success, 16, 185, 129));
}

.arkynAlertIcon.info {
	color: rgb(var(--spotlight-info, 14, 165, 233));
}

.arkynAlertIcon.warning {
	color: rgb(var(--spotlight-warning, 249, 115, 22));
}
