.arkynAlertIcon {
	min-width: 28px;
	min-height: 28px;

	max-width: 28px;
	max-height: 28px;
}

.arkynAlertIcon.danger {
	color: rgb(var(--spotlight-danger));
}

.arkynAlertIcon.success {
	color: rgb(var(--spotlight-success));
}

.arkynAlertIcon.info {
	color: rgb(var(--spotlight-info));
}

.arkynAlertIcon.warning {
	color: rgb(var(--spotlight-warning));
}
