.arkynWeekCalendarEvent {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;

	padding: 8px;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 28px;

	display: flex;
	flex-direction: column;
	gap: 4px;
}

.arkynWeekCalendarEvent:not(:first-child) {
	box-shadow: -4px 0px 2px rgba(0, 0, 0, 0.1);
}

.arkynWeekCalendarEvent:hover {
	z-index: 3;
}

.arkynWeekCalendarEvent::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 4px;
	border-radius: 8px 0 0 8px;
}

.arkynWeekCalendarEvent.primary {
	background-color: rgb(var(--spotlight-primary-foreground, 231, 240, 252));
}

.arkynWeekCalendarEvent.primary::before {
	background-color: rgb(var(--spotlight-primary, 17, 109, 220));
}

.arkynWeekCalendarEvent.danger {
	background-color: rgb(var(--spotlight-danger-foreground, 254, 236, 239));
}

.arkynWeekCalendarEvent.danger::before {
	background-color: rgb(var(--spotlight-danger, 244, 63, 94));
}

.arkynWeekCalendarEvent.warning {
	background-color: rgb(var(--spotlight-warning-foreground, 254, 241, 232));
}

.arkynWeekCalendarEvent.warning::before {
	background-color: rgb(var(--spotlight-warning, 249, 115, 22));
}

.arkynWeekCalendarEvent.info {
	background-color: rgb(var(--spotlight-info-foreground, 231, 246, 253));
}

.arkynWeekCalendarEvent.info::before {
	background-color: rgb(var(--spotlight-info, 14, 165, 233));
}

.arkynWeekCalendarEvent.success {
	background-color: rgb(var(--spotlight-success-foreground, 231, 248, 242));
}

.arkynWeekCalendarEvent.success::before {
	background-color: rgb(var(--spotlight-success, 16, 185, 129));
}

.arkynWeekCalendarEvent > strong {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0%;
	color: var(--text-heading, #09090b);
}

.arkynWeekCalendarEvent > p {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0%;
	color: var(--text-heading, #09090b);
}
