.arkynImageUpload {
	outline: 1px solid transparent;

	border-width: 1px;
	border-color: var(--border);
	border-radius: 8px;

	width: 100%;
	height: 174px;
	max-width: 475px;

	background: rgba(var(--spotlight-secondary), 1);
}

.arkynImageUpload.hasImage {
	border-style: solid;
}

.arkynImageUpload.noHasImage {
	border-style: dashed;
}

.arkynImageUpload.hasError {
	border-color: rgb(var(--spotlight-danger));
	outline-color: rgb(var(--spotlight-danger));
}
