.arkynDayCalendarEvent {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;

	padding: 8px;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
	min-height: 28px;

	display: flex;
	flex-direction: column;
	gap: 4px;

	min-width: 200px;
	max-width: 200px;
}

.arkynDayCalendarEvent:not(:first-child) {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.arkynDayCalendarEvent:hover {
	z-index: 3;
}

.arkynDayCalendarEvent::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 4px;
	border-radius: 8px 0 0 8px;
}

.arkynDayCalendarEvent.primary {
	background-color: rgb(var(--spotlight-primary-foreground));
}

.arkynDayCalendarEvent.primary::before {
	background-color: rgb(var(--spotlight-primary));
}

.arkynDayCalendarEvent.danger {
	background-color: rgb(var(--spotlight-danger-foreground));
}

.arkynDayCalendarEvent.danger::before {
	background-color: rgb(var(--spotlight-danger));
}

.arkynDayCalendarEvent.warning {
	background-color: rgb(var(--spotlight-warning-foreground));
}

.arkynDayCalendarEvent.warning::before {
	background-color: rgb(var(--spotlight-warning));
}

.arkynDayCalendarEvent.info {
	background-color: rgb(var(--spotlight-info-foreground));
}

.arkynDayCalendarEvent.info::before {
	background-color: rgb(var(--spotlight-info));
}

.arkynDayCalendarEvent.success {
	background-color: rgb(var(--spotlight-success-foreground));
}

.arkynDayCalendarEvent.success::before {
	background-color: rgb(var(--spotlight-success));
}

.arkynDayCalendarEvent > strong {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0%;
	color: var(--text-heading);
}

.arkynDayCalendarEvent > p {
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0%;
	color: var(--text-heading);
}
