.arkynMultiSelectOption {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-weight: 400;
	line-height: 21.79px;

	color: var(--text-body);
	user-select: none;
	background-color: var(--background-foreground);
}
.arkynMultiSelectOption.md {
	font-size: 14px;
	padding: 8px 16px;
}
.arkynMultiSelectOption.lg {
	font-size: 16px;
	padding: 8px 16px;
}
.arkynMultiSelectOption svg {
	display: none;
	height: 20px;
	width: 20px;
	color: rgb(var(--spotlight-primary));
}
.arkynMultiSelectOption:hover {
	cursor: pointer;
	filter: brightness(0.95);
}
.arkynMultiSelectOption.active {
	font-weight: 600;
	color: var(--text-heading);
	filter: brightness(0.95);
}
.arkynMultiSelectOption.active svg {
	display: unset;
}
