/* BASE CSS */
.arkynPhoneInputContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;

	width: 100%;

	padding: 0 16px;
	gap: 8px;
	border-radius: 6px;

	border: 1px solid transparent;
	outline: 1px solid transparent;

	min-height: 38px;
	max-height: 38px;
}
.arkynPhoneInputContainer:hover {
	cursor: text;
}
.arkynPhoneInputContainer.opacity {
	opacity: 0.5;
}

/* VARIANTS */
.arkynPhoneInputContainer.solid {
	border-color: var(--border);
	background-color: var(--input-background);
}
.arkynPhoneInputContainer.solid.errored {
	border-color: rgb(var(--spotlight-danger));
	outline-color: rgb(var(--spotlight-danger));
}
.arkynPhoneInputContainer:not(.opacity).solid.focused {
	border-color: rgb(var(--spotlight-primary));
	outline-color: rgb(var(--spotlight-primary));
}
.arkynPhoneInputContainer.outline {
	border-color: var(--border);
}
.arkynPhoneInputContainer.outline.errored {
	border-color: rgb(var(--spotlight-danger));
	outline-color: rgb(var(--spotlight-danger));
}
.arkynPhoneInputContainer:not(.opacity).outline.focused {
	border-color: rgb(var(--spotlight-primary));
	outline-color: rgb(var(--spotlight-primary));
}

/* SIZE */
.arkynPhoneInputContainer.md {
	min-height: 42px;
	max-height: 42px;
}
.arkynPhoneInputContainer.lg {
	min-height: 46px;
	max-height: 46px;
}
