/* base css */
.arkynButton {
	background: transparent;
	border: 1px solid transparent;
	outline: 1px solid transparent;
	position: relative;
}

.arkynButton:hover {
	cursor: pointer;
	filter: brightness(0.95);
	transition: all 0.3s ease;
}

html.dark .arkynButton:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.arkynButton:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.arkynButton .arkynButtonContent {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

/* loader spin */
.arkynButton .arkynButtonSpinner {
	display: flex;
	align-items: center;
	justify-content: center;

	white-space: nowrap;
	opacity: 0;
}

/* variants */
.arkynButton.solid {
	color: var(--white);
}
.arkynButton.solid.primary {
	background-color: rgb(var(--spotlight-primary));
}
.arkynButton.solid.secondary {
	background-color: rgb(var(--spotlight-secondary));
}
.arkynButton.solid.danger {
	background-color: rgb(var(--spotlight-danger));
}
.arkynButton.solid.success {
	background-color: rgb(var(--spotlight-success));
}
.arkynButton.solid.warning {
	background-color: rgb(var(--spotlight-warning));
}
.arkynButton.solid.info {
	background-color: rgb(var(--spotlight-info));
}

.arkynButton.outline {
	background-color: var(--background-underground);
	border-color: var(--border);
}
.arkynButton.outline.primary {
	color: rgb(var(--spotlight-primary));
}
.arkynButton.outline.secondary {
	color: rgb(var(--spotlight-secondary));
}
.arkynButton.outline.danger {
	color: rgb(var(--spotlight-danger));
}
.arkynButton.outline.success {
	color: rgb(var(--spotlight-success));
}
.arkynButton.outline.warning {
	color: rgb(var(--spotlight-warning));
}
.arkynButton.outline.info {
	color: rgb(var(--spotlight-info));
}

.arkynButton.ghost.primary {
	color: rgb(var(--spotlight-primary));
	background-color: rgb(var(--spotlight-primary-foreground));
}
.arkynButton.ghost.secondary {
	color: rgb(var(--spotlight-secondary));
	background-color: rgb(var(--spotlight-secondary-foreground));
}
.arkynButton.ghost.danger {
	color: rgb(var(--spotlight-danger));
	background-color: rgb(var(--spotlight-danger-foreground));
}
.arkynButton.ghost.success {
	color: rgb(var(--spotlight-success));
	background-color: rgb(var(--spotlight-success-foreground));
}
.arkynButton.ghost.warning {
	color: rgb(var(--spotlight-warning));
	background-color: rgb(var(--spotlight-warning-foreground));
}
.arkynButton.ghost.info {
	color: rgb(var(--spotlight-info));
	background-color: rgb(var(--spotlight-info-foreground));
}

.arkynButton.invisible.primary {
	color: rgb(var(--spotlight-primary));
}
.arkynButton.invisible.secondary {
	color: rgb(var(--spotlight-secondary));
}
.arkynButton.invisible.danger {
	color: rgb(var(--spotlight-danger));
}
.arkynButton.invisible.success {
	color: rgb(var(--spotlight-success));
}
.arkynButton.invisible.warning {
	color: rgb(var(--spotlight-warning));
}
.arkynButton.invisible.info {
	color: rgb(var(--spotlight-info));
}

/* sizes */
.arkynButton.lg {
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	border-radius: 8px;
	padding: 0px 20px;
	height: 44px;
}
.arkynButton.lg .arkynButtonContent,
.arkynButton.lg .arkynButtonSpinner {
	gap: 16px;
}

.arkynButton.md {
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	border-radius: 8px;
	gap: 16px;
	padding: 0px 16px;
	height: 40px;
}
.arkynButton.md .arkynButtonContent,
.arkynButton.md .arkynButtonSpinner {
	gap: 14px;
}

.arkynButton.sm {
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	border-radius: 6px;
	padding: 0px 16px;
	height: 32px;
}
.arkynButton.sm .arkynButtonContent,
.arkynButton.sm .arkynButtonSpinner {
	gap: 12px;
}

.arkynButton.xs {
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	border-radius: 4px;
	padding: 0px 16px;
	height: 24px;
}
.arkynButton.xs .arkynButtonContent,
.arkynButton.xs .arkynButtonSpinner {
	gap: 8px;
}

.arkynButton .arkynButtonSpinner > svg {
	animation: spin 2s linear infinite;
}

.arkynButton.loadingTextFalse .arkynButtonSpinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.arkynButton.loadingTextTrue .arkynButtonSpinner {
	max-height: 0px;
}

.arkynButton.loadingTrue .arkynButtonContent {
	opacity: 0;
	max-height: 0px;
}

.arkynButton.loadingTrue .arkynButtonSpinner {
	opacity: 1;
	max-height: unset;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
